.title {
  font-size: 1.5em;
  padding-bottom: 0.2em;
  margin-top: 1.0em;
  font-weight: 550;
}

.author {
  font-size: 1em;
  color: #333;
  margin-bottom: 1em;
  border-bottom: 2px solid #bbb;
  padding-bottom: 0.2em;
}

.abstract-container {
  font-size: 1.05em;
  margin-bottom: 2em;
}

.image-container {
  text-align: center;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}
