<div class="name-row">
  <h1>Hyeonjae Kim</h1>

  <div class="icon-links">
    <a href="mailto:hyeonjae.amo@gmail.com" target="_blank">
      <img src="/icons/gmail.svg" alt="Gmail">
    </a>
    <a href="mailto:hyeonjae@add.re.kr" target="_blank">
      <img src="/icons/email.svg" alt="Email">
    </a>
    <a href="https://linkedin.com/in/hyeonjaekim" target="_blank">
      <img src="/icons/linkedin.svg" alt="LinkedIn">
    </a>
    <a href="https://orcid.org/0009-0006-2200-2711" target="_blank">
      <img src="/icons/orcid.svg" alt="ORCID">
    </a>
    <a href="https://scholar.google.com/citations?hl=ko&user=8HIc-IcAAAAJ" target="_blank">
      <img src="/icons/scholar.svg" alt="Scholar">
    </a>
  </div>
</div>
  
<nav class="navbar">
  <a href="/">About</a>
  <a href="/archive/CV_HK_260201.pdf" target="_blank">Curriculum Vitae</a>
  <a href="/research/">Research</a>
</nav>
