<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="/favicon.js"></script>

  <title>{{ page.title }}</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/research/research.css" />
  <link rel="stylesheet" href="/research/research_list.css" />
</head>

<body>
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  <footer>
    &copy; 2025. Hyeonjae Kim. All Rights Reserved.
  </footer>
</body>
</html>
