<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="/assets/js/favicon.js"></script>

  <title>{{ page.title }}</title>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFSB226KD0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EFSB226KD0');
  </script>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/research.css" />
</head>

<body>
  {% include header.html %}

  <main>
    {{ content }}
  </main>

  <footer>
    &copy; 2025. Hyeonjae Kim. All Rights Reserved.
  </footer>

  <script src="{{ '/assets/js/related.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/further-bullet.js' | relative_url }}"></script>
  
</body>
</html>
